.reviews__block {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.reviews__list {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.review {
  display: grid;
  padding: 24px;
  gap: 24px;
}

.review__header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.review__title {
  font-weight: 700;
}

.review__description {
  line-height: 150%;
  text-align: justify;
}
